@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
.frame{
  background: linear-gradient(to right, #e0b78e, #a17541) ;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #704b1f;
  font-family: 'Open Sans', Helvetica, sans-serif;
}
.card{
  background-color: white;
  margin: 40px;
  width: 100%;
  height: 80%;
  display: flex;
  box-shadow: 8px 8px 12px 4px rgba(22, 22, 22, 0.2);
}
.card .content-left{
  width: 60%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.content-left small{
  opacity: 0.7;
}

.profile{
  position: relative;
  height: 80px;
  width: 80px;
  background-image: url("https://phantom-marca.unidadeditorial.es/acb9df69912373ff8a96b4337e5ef89e/resize/1320/f/jpg/assets/multimedia/imagenes/2022/09/16/16633269065654.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: all 2s;
}

.circle-out{
  position: absolute;
  height: 92px;
  width: 92px;
  top:-6px;
  left: -6px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #704b1f;
  border-right-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
}

.circle-inside{
  position: absolute;
  height: 86px;
  width: 86px;
  top:-3px;
  left: -3px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #704b1f;
  border-left-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile:hover .circle-inside{
  transform: rotate(360deg);
  transition: all 2s;
}

.profile:hover .circle-out{
  transform: rotate(-360deg);
  transition: all 2s;
}

.card .content-right{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
}
.counts{
  background-color: #f1e7de;
  height: 100%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.counts small{
  font-size: 12px;
  opacity: 0.7;
}
button{
  width: 120px;
  height: 30px;
  margin-top: 12px;
  font-size: 12px;
  font-weight: bold;
  color: #704b1f;
  background-color: white;
  border: 1px solid #704b1f;
  border-radius: 30px;
}
button:hover{
  background-color: #704b1f;
  color: white;
  transition: all 0.5s;
}
